name: Build & Push Docker Image

on:
    push:
        branches: ['main']

permissions:
    contents: read
    packages: write

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Log in to GitHub Container Registry
              run: echo "${{ secrets.GITHUB_TOKEN }}" \
                  | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

            - name: Build Docker image
              env:
                  IMAGE_NAME: ghcr.io/romansmolin/zapshipr-fe
                  NEXT_PUBLIC_ENVIRONMENT: ${{ secrets.NEXT_PUBLIC_ENVIRONMENT }}

                  NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
                  NEXT_PUBLIC_FACEBOOK_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_FACEBOOK_CLIENT_ID }}
                  NEXT_PUBLIC_FACEBOOK_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_FACEBOOK_REDIRECT_URL }}
                  NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_GOOGLE_CLIENT_ID }}
                  NEXT_PUBLIC_INSTAGRAM_APP_ID: ${{ secrets.NEXT_PUBLIC_INSTAGRAM_APP_ID }}
                  NEXT_PUBLIC_INSTAGRAM_REDIRECT_URI: ${{ secrets.NEXT_PUBLIC_INSTAGRAM_REDIRECT_URI }}
                  NEXT_PUBLIC_LINKEDIN_APP_ID: ${{ secrets.NEXT_PUBLIC_LINKEDIN_APP_ID }}
                  NEXT_PUBLIC_LINKEDIN_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_LINKEDIN_REDIRECT_URL }}
                  NEXT_PUBLIC_PINTEREST_ID: ${{ secrets.NEXT_PUBLIC_PINTEREST_ID }}
                  NEXT_PUBLIC_PINTEREST_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_PINTEREST_REDIRECT_URL }}
                  NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL: ${{ secrets.NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL }}
                  NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL_DEV: ${{ secrets.NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL_DEV }}
                  NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL: ${{ secrets.NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL }}
                  NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL_DEV: ${{ secrets.NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL_DEV }}
                  NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL: ${{ secrets.NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL }}
                  NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL_DEV: ${{ secrets.NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL_DEV }}
                  NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL: ${{ secrets.NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL }}
                  NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL_DEV: ${{ secrets.NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL_DEV }}
                  NEXT_PUBLIC_THREADS_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_THREADS_CLIENT_ID }}
                  NEXT_PUBLIC_THREADS_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_THREADS_REDIRECT_URL }}
                  NEXT_PUBLIC_TIKTOK_ID: ${{ secrets.NEXT_PUBLIC_TIKTOK_ID }}
                  NEXT_PUBLIC_TIKTOK_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_TIKTOK_REDIRECT_URL }}
                  NEXT_PUBLIC_X_ID: ${{ secrets.NEXT_PUBLIC_X_ID }}
                  NEXT_PUBLIC_X_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_X_REDIRECT_URL }}
                  NEXT_PUBLIC_YOUTUBE_REDIRECT_URL: ${{ secrets.NEXT_PUBLIC_YOUTUBE_REDIRECT_URL }}

              run: |
                  TAG=latest
                  docker build . -f Dockerfile \
                    --build-arg NEXT_PUBLIC_ENVIRONMENT=$NEXT_PUBLIC_ENVIRONMENT \
                    --build-arg NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL \
                    --build-arg NEXT_PUBLIC_FACEBOOK_CLIENT_ID=$NEXT_PUBLIC_FACEBOOK_CLIENT_ID \
                    --build-arg NEXT_PUBLIC_FACEBOOK_REDIRECT_URL=$NEXT_PUBLIC_FACEBOOK_REDIRECT_URL \
                    --build-arg NEXT_PUBLIC_GOOGLE_CLIENT_ID=$NEXT_PUBLIC_GOOGLE_CLIENT_ID \
                    --build-arg NEXT_PUBLIC_INSTAGRAM_APP_ID=$NEXT_PUBLIC_INSTAGRAM_APP_ID \
                    --build-arg NEXT_PUBLIC_INSTAGRAM_REDIRECT_URI=$NEXT_PUBLIC_INSTAGRAM_REDIRECT_URI \
                    --build-arg NEXT_PUBLIC_LINKEDIN_APP_ID=$NEXT_PUBLIC_LINKEDIN_APP_ID \
                    --build-arg NEXT_PUBLIC_LINKEDIN_REDIRECT_URL=$NEXT_PUBLIC_LINKEDIN_REDIRECT_URL \
                    --build-arg NEXT_PUBLIC_PINTEREST_ID=$NEXT_PUBLIC_PINTEREST_ID \
                    --build-arg NEXT_PUBLIC_PINTEREST_REDIRECT_URL=$NEXT_PUBLIC_PINTEREST_REDIRECT_URL \
                    --build-arg NODE_ENV=$NODE_ENV \
                    --build-arg NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL=$NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL \
                    --build-arg NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL_DEV=$NEXT_PUBLIC_STRIPE_PRO_PLAN_MONTHLY_URL_DEV \
                    --build-arg NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL=$NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL \
                    --build-arg NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL_DEV=$NEXT_PUBLIC_STRIPE_PRO_PLAN_YEARLY_URL_DEV \
                    --build-arg NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL=$NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL \
                    --build-arg NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL_DEV=$NEXT_PUBLIC_STRIPE_STARTER_PLAN_MONTHLY_URL_DEV \
                    --build-arg NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL=$NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL \
                    --build-arg NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL_DEV=$NEXT_PUBLIC_STRIPE_STARTER_PLAN_YEARLY_URL_DEV \
                    --build-arg NEXT_PUBLIC_THREADS_CLIENT_ID=$NEXT_PUBLIC_THREADS_CLIENT_ID \
                    --build-arg NEXT_PUBLIC_THREADS_REDIRECT_URL=$NEXT_PUBLIC_THREADS_REDIRECT_URL \
                    --build-arg NEXT_PUBLIC_TIKTOK_ID=$NEXT_PUBLIC_TIKTOK_ID \
                    --build-arg NEXT_PUBLIC_TIKTOK_REDIRECT_URL=$NEXT_PUBLIC_TIKTOK_REDIRECT_URL \
                    --build-arg NEXT_PUBLIC_X_ID=$NEXT_PUBLIC_X_ID \
                    --build-arg NEXT_PUBLIC_X_REDIRECT_URL=$NEXT_PUBLIC_X_REDIRECT_URL \
                    --build-arg NEXT_PUBLIC_YOUTUBE_REDIRECT_URL=$NEXT_PUBLIC_YOUTUBE_REDIRECT_URL \
                    -t $IMAGE_NAME:$TAG

            - name: Push Docker image
              env:
                  IMAGE_NAME: ghcr.io/romansmolin/zapshipr-fe
              run: |
                  TAG=latest
                  docker push $IMAGE_NAME:$TAG
